@import "tailwindcss";

@theme inline {
  --color-background: #000000;
  --color-foreground: #ededed;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-brand: #3b82f6; /* blue-500 equivalent */
  --color-border: #262626; /* neutral-800 equivalent */
  --color-muted: #a3a3a3; /* neutral-400 */
}

:root {
  color-scheme: dark;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}

::selection {
  background: #3b82f6;
  color: #fff;
}
